/* ARROWS */
.arrow-up {
    display: inline-block;
    margin: auto 6px 1px 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
    opacity: 0.5;
}
.arrow-down {
    display: inline-block;
    margin: auto 6px 0px 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    opacity: 0.5;
}

.arrow-down:hover, .arrow-up:hover {
  opacity: 0.75;
}

/* LABELS */
.label-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    z-index: 101;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    padding: 0px;
    font-family: Arial, serif;
    font-size: 12px;
    z-index: 1001;
}

.label-container.inverse {
    background-color: rgba(255,255,255,0.75);
    color: #333;
}

.label-container [class*="icon-"] {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 0;
  vertical-align: middle;
  background-image: url("../img/sprite_22x22.png");
  background-repeat: no-repeat;
  margin-top: -1px;
  opacity: 0.75;
  margin-right: 5px;
}

.label-container.inverse [class*="icon-"] {
  background-image: url("../img/sprite_22x22_black.png");
}

.label-container [class*="icon-"] + [class*="icon-"] {
  margin-right: 0px;
}

.label-container [class*="icon-"]:hover {
  opacity: 1.0;
}

.label-container .icon-speaker {
  background-position: 0 0;
}
.label-container .icon-close {
  background-position: -22px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}
.label-container .icon-collapse {
  background-position: -66px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}
.label-container .icon-expand {
  background-position: -88px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}

.label-container-header > span {
  height: 22px;
  line-height: 22px;
  display: inline-block;
}

.label-container.right .label-container-header > span {
  padding: 0 10px 0 10px;
}

.label-container.left .label-container-header > span {
  padding: 0 10px 0 10px;
}

.label-container .options {
    display: none;
    padding: 3px;
    list-style-type: none;
    border-top: 1px solid #444;
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.label-container .options li {
  padding: 5px;
  color: #ccc;
}

.label-container .options li:hover {
  color: #fff;
}

/* ANNOTATIONS */

.annotationPin {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    width: 0;
    height: 0;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 125;

    cursor: pointer;
}

.annotationPin:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -7px;
    margin-top: -7px;
    background-color: rgba(0,0,0,.75);
    border: 2px solid #ccc;
    border-radius: 50%;
}

.annotationPin:hover:after {
  border-color: #fff;
}

html.touch .annotationPin {
    padding: 14px;
    margin-left: -12px;
    margin-top: -12px;
}

/*  Annotation Wires */

.annotationWire {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    height: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ccc;
    z-index: 124;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.annotationContainer.left + .annotationWire {
    margin-top: -0.5px; /* Correct for rotation rendering issue */
}

.annotationContainer.right + .annotationWire {
    margin-top: -1px; /* Correct for rotation rendering issue */
}

/*  Annotation Labels */

.annotationContainer {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 10px;
  max-width: 200px;
  color: rgb(238, 238, 238);
  text-shadow: rgb(56, 61, 68) 1px 1px 0px;
  z-index: 126;
}

.annotationContainer * {
  box-sizing: border-box;
}

.annotationContainer.draggable:hover {
  cursor: move;
}

/*  Annotation Labels: Edit State */

.annotationContainer.editing {
  border: none;
  min-width: 80px;
}

.annotationContainer.editing .annotationTitle {
  border-radius: 4px 4px 0px 0px;
}

.annotationContainer.editing input,
.annotationContainer.editing textarea {
  opacity: 0.5;
}

.annotationContainer.editing input:focus,
.annotationContainer.editing textarea:focus {
  color: #fff;
  opacity: 1.0;
}

.annotationContainer.editing textarea {
  min-width: 70px;
}

.annotationContainer:not(.editing) input,
.annotationContainer:not(.editing) textarea,
.annotationContainer.editing h1,
.annotationContainer.editing p {
  display: none;
}

.annotationContainer .annotationDelete {
  visibility: hidden;
}

.annotationContainer.editable.editing .annotationSave {
  display: none;
}

.annotationContainer.editable.editing .annotationDelete {
  display: none;
}

.annotationContainer.editable:not(.editing):hover .annotationDelete {
  visibility: visible;
}

.annotationTitle {
  width: 100%;
  padding-top: 1px;
  position: relative;
  color: #fff;
}

.annotationTitle > h1,
.annotationTitle > input {
  min-height: 18px;
  line-height: 18px;
  height: 18px;
  font-size: 13px;
}

.annotationTitle h1 {
  display: inline-block;
  margin: 0;
  font-weight: bold;
}

/* Floating Annotations */
#container.layout-floating .annotationContainer {
  margin-top: -12px;
  margin-left: 14px;
}

#container.layout-floating .annotationContainer.left {
  margin-left: -2px;
}


html.touch #container.layout-floating .annotationContainer {
  margin-top: -10px;
  margin-left: 20px;
}

html.touch #container.layout-floating .annotationContainer.left {
  margin-left: -5px;
}

#container.layout-floating .annotationTitle {
  border-bottom-color: transparent;
}

#container.layout-floating .annotationWire {
  visibility: hidden !important;
}

/* Annotation edit buttons */
.annotationDelete,
.annotationSave {
  position: absolute;
  box-sizing: initial;
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
  padding: 2px;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  opacity: 0.75;
  right: -24px;
  top: -8px;
}

.annotationContainer.left .annotationDelete,
.annotationContainer.left .annotationSave {
  left: -24px;
}

.annotationSave {
  display: none;
}

.annotationDelete:after,
.annotationSave:after {
  content: ' ';
  display: block;
  width: inherit;
  height: inherit;
  background-image: url("../img/sprite_22x22_black.png");
  background-repeat: no-repeat;
}

.annotationDelete:after {
  background-position: -22px 0; /* x icon */
}

.annotationSave:after {
  background-position: -220px 0;
}

.annotationDelete:hover,
.annotationDelete:focus,
.annotationSave:hover,
.annotationSave:focus {
  opacity: 1.0;
}

.annotationDescription > *::-webkit-scrollbar {
  height: 1.0ex; /* horizontal scrollbar */
  width: 4px; /* vertical scrollbar */
  -webkit-border-radius: 0px;
}

.annotationDescription > *::-webkit-scrollbar-thumb {
  opacity: 0.35;
  background: rgba(50,50,50,0.9);
  -webkit-border-radius: 3px;
}

.annotationDescription {
  padding-top: 5px;
  color: #ccc;
  text-shadow: none;
}

.annotationDescription > p {
  max-height: 100px;
  overflow: auto;
}

.annotationDescription > p,
.annotationDescription > textarea {
  margin: 1px auto auto 1px;
  padding: 0px;
  font-size: inherit;
  text-shadow: none;
}

.annotationContainer input,
.annotationContainer textarea {
  color: inherit;
  font-family: inherit;
  border: none;
  background: none;
}

.annotationContainer .annotationTitle  {
  border-bottom: 1px solid #ccc;
}

/* no title line when empty */
.annotationContainer.editing.empty .annotationTitle {
  border-bottom-color: transparent;
}

.annotationContainer.editing.empty textarea {
  opacity: 0.5;
}

.annotationContainer input:focus,
.annotationContainer textarea:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: transparent;
}

/* Responsive Style Rules */

/* Update styles for background color changes */

body.bg-black .annotationDescription p {
  color: #999;
}

html.bg-white .annotationTitle {
  color: #000;
}

html.bg-white .annotationDescription {
  color: #666;
}

html.bg-white .annotationContainer.editing input:focus,
html.bg-white .annotationContainer.editing textarea:focus {
  color: #000;
}

html.bg-white .annotationTitle h1,
html.bg-white .annotationTitle input {
  text-shadow: none;
  font-weight: bold;
}

html.bg-white .annotationContainer .annotationTitle {
  border-bottom: 1px solid #999;
}

html.bg-white .annotationWire {
  border-top-color: #999;
}

/* Annoyingly, these selectors need to be defined separately */
.annotationContainer ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1.0;
}

.annotationContainer ::-moz-placeholder {
  color: #fff;
  opacity: 1.0;
}

.annotationContainer :-moz-placeholder {
  color: #fff;
  opacity: 1.0;
}

.annotationContainer :-ms-input-placeholder {
  color: #fff;
  opacity: 1.0;
}

.annotationContainer textarea {
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  resize: none;
}
